{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": false,
        "preprocess": false
      }
    ],
    [
      "babel-plugin-direct-import",
      { "modules": ["@mui/material", "@mui/icons-material"] }
    ]
    
  ]
}
